$text-color: #303133;
$text-color-light: #666;
$text-color-gray: #909399;

$color-primary: #d82fa8;

$border-color-base: #dedede;

$font-size-base: 16px;

// Element Plus 主题变量
$--colors: (
  'primary': (
    'base': $color-primary,
  ),
);

// 导入 Element Plus 样式变量
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors
);
